body {
    background-color: #ECEAE2;
 }
 
 .login {
 
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(129, 129, 129, 0.344);
 
 }
 
 .loginlogo {
    background-color: #9FD0E4;
    height: 55vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 
 .line {
    margin-top: -20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .logintext {
    font-size: 2.3vw;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 .loginmail{
    border: 1px solid #9FD0E4;
    border-radius: 10px;
 }
 
 .loginsenha{
    border: 1px solid #9FD0E4;
    border-radius: 10px;
 }
 
 input{
    width: 40vh;
 }

.acessar{
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #9FD0E4;
    color: #fff;
    float: right;


}

.loginpainel{
    max-width:50vh;
    margin: 0 auto;
}
.space{
    margin-top: 8vh;
}
.senha{
    font-size: 10px;
    float: right;
    text-align:right
}

