
.text-header {
    font-weight: 700;
    font-size: 3vh;
    color: #5c5c5c;
    font-family: Inter, sans-serif;
}

.container-custom {
    width: 98%;
    /* largura do container */

    margin: 0 auto;
    /* centraliza o container na tela */
    padding: 0px 10px;
    /* espaço interno do container */
    box-sizing: border-box;
    /* inclui padding e border na largura total */
   
}

.custom-div {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(83, 83, 83, 0.059);
    /* Sombra direita e inferior */
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.banconumber {
    float: right;
    font-size: 25px;
    font-weight: 500;

}

/* .texttemp {
    font-size: 13px;
    color: #000;
    font-weight: 400;
} */

/* .texttemp {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
} */

.spacetime {
    height: 65px;
}

.spacetime1 {
    height: 28px;
}

.acertos {
    margin-top: -10px;
    font-size: 12px;
    color: #00b100;
}

.erros {
    margin-top: -20px;
    font-size: 12px;
    color: #eb0000;
}

.additens {
    background-color: #2b7bb3;
    border: 1px solid #2b7bb3;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    padding:3px 10px;
    font-weight: 500;
}




.additens:hover {
    background-color: #135e94;
    border: 1px solid #135e94;
   
}


.line{
    margin-top: -5px;
}

.spacetitle{
    height: 6vh;
}

.bars{
    width: 30px;
}
.tabelas{
    background-color: #fff;
    border-radius: 10px;
}


.popover {
    width: 200px;
    max-height: 300px;
    text-align: center;
}

.notification-box {
    max-height: 200px;
    /* Defina a altura máxima que a notification-box pode ter */
    overflow-y: auto;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.close-notification {
    position: absolute;
    top: 5px;
    right: 10px;
}






.active {
    background-color: #2b7bb3;
    border-radius: 10px;
    padding: 8px;
    width: 200px;

}

body {
    overflow: hidden;
    /* Desabilita o scroll do corpo */
}

.modalmobile {
    width: 30%;
    margin: 0 auto;
}

.item {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: right center;
    /* Fixando o lado direito */
}

.item.active {
    transform: translateX(15px);
    /* Movimento do lado esquerdo */
}
::-webkit-scrollbar {
display: none; /* Para navegadores baseados em WebKit, como Chrome/Safari */
}

/* O mesmo para navegadores Firefox */
/* Nota: Algumas versões do Firefox podem exigir prefixos de fornecedor adicionais */
* {
scrollbar-width: none;
}
